<%= form_for [@quiz, @answer], remote: true do |f| %>
	<span>2000 caracteres</span>
  <%= f.text_area :answer, class: 'span9' %><br><br>
	<%= f.submit "Enviar respuesta", :disable_with => 'Enviando...', class: 'btn success large span9', style:'margin-left:5px' %>
<% end %>