<div id="modal-from-dom" class="modal hide">
	<div class="modal-header">
		<a href="#" class="close">x</a>
		<h3>Muy bien</h3>
	</div>
	<div class="modal-body">
		<p>Pronto revisaremos su respuesta.</p>
	</div>
	<% if @next_quiz %>
	<div class="modal-footer">
		<%= link_to "Siguiente", level_quiz_path(@level, @next_quiz), class: "btn primary" %>
	</div>
	<% end %>
</div>