<!-- This modal is called from the ajax request -->

<div id="quiz-sent-modal" class="modal hide fade in">
	<div class="modal-header">
		<a href="#" class="close">x</a>
		<h3>La respuesta ha sido enviada</h3>
	</div>
	<div class="modal-body">
		<% if @quiz.instant_feedback %>
			<p><%= @quiz.instant_feedback %></p>
		<% else %>
			<p>Su respuesta ha sido enviada.</p>
		<% end %>
	</div>
	<% if @next_quiz %>
		<div class="modal-footer">
			<%= link_to "Siguiente", level_quiz_path(@level, @next_quiz), class: "btn primary" %>
		</div>
	<% elsif @next_level %>
		<div class="modal-footer">
			<%= link_to "Siguiente nivel", level_path(@next_level), class: "btn primary" %>
		</div>
	<% else %>
		<div class="modal-footer">
			<%= link_to "Finalizar!", root_path, class: "btn primary" %>
		</div>
	<% end %>
</div>

<!-- End of modal -->