<div class="well span9">
	<div class="topic-header">
		<h4><%= comment.name %></h4><br>
		<%= image_tag comment.avatar.thumb.url, width: 50 %>	
	</div>
	<%= simple_format(comment.text) %>
	
	<span>hace <%= distance_of_time_in_words_to_now(comment.created_at) %></span><br>
</div>
