<div class="topic" onclick="location.href='<%= topic_comments_path(topic) %>'">
	<div class="span6 well">
		<div class="image">
			<%= image_tag topic.image_url if topic.image_url? %>
		</div>
		<h4><%=topic.name %></h4>	
		<%= raw(topic.abstract) %>
	</div>
</div>
	