<div class="page-header">
	<div class="row">
		<div class="span10">
			<h1>Foros</h1>
		</div>
		<%= render 'shared/tutor_block' %>
	</div>
</div>

<div class="row">
	<div class="span8">
		<%= render @topics %>
	</div>
	
	<div class="span6">
		<%= render partial: "user", collection: @users %>
		<script>
		  $(function () {
		    $(".mozaic").twipsy({
		      live: true,
					offset: 40,
					html: true
		    })
		  })
		</script>

	</div>
	

</div>

