<div class="content">

	<div class="page-header">
		<h1><%= @level.name %></h1>
	</div>

	<div class="row">

		<div class="span10">
				
				<%= render @level.tag rescue nil  %>
				<%= link_to "Ir a Ejercicios", level_quiz_path(@level, @level.quizzes.first), class: "btn primary" if @level.quizzes.first %>
		</div>

		<div class="span4">
		</div>
		
	</div>
</div>
