.topic{
	a{
		color:#404040;
	}
	a:hover{
		text-decoration:none;
	}
	.well{
		transition: 1s;
		-moz-transition: 1s;
		-webkit-transition: 1s;
		-o-transition: 1s;
	}
	.well:hover{
		background-color: #F6FFD0;
	}
	h4{
		border-bottom: 1px solid #999;
		margin-bottom:20px;
	}
}
.comment{
	.comment-header{
		width:130px;
		text-align: center;
		float: left;
		margin-right:20px;
		border-right: 1px solid #CCC;
		padding: 10px 10px 10px 0;
	}
	.remove_comment{
		float: right;
	}
	.time-ago{
		font-size: 70%;
		color: #649AFF;
	}
	

}


