// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quizzes-list{
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #EEE;
	.quiz-link{
			transition: 300ms;
			-moz-transition: 300ms;
			-webkit-transition: 300ms;
			-o-transition: 300ms;
			color:#404040;
			display:block;
			padding: 10px 5px 10px 20px;
			border-bottom:1px solid #EEE;
			background-color:whiteSmoke;
			font-weight: bold;
	}
	.quiz-link:hover{
	  	background-color:white !important;
		text-decoration: none;
	}
	.current{
		background-color:white !important;
		text-decoration: none;
		cursor: default;
	}
	
}
