// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quizzes-list{
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #EEE;
	.quiz-link{
			transition: 300ms;
			-moz-transition: 300ms;
			-webkit-transition: 300ms;
			-o-transition: 300ms;
			color:#404040;
			display:block;
			padding: 10px 5px 10px 20px;
			border-bottom:1px solid #EEE;
			background-color:whiteSmoke;
			font-weight: bold;
	}
	.quiz-link:hover{
	  	background-color:white !important;
		text-decoration: none;
	}
	.current{
		background-color:white !important;
		text-decoration: none;
		cursor: default;
	}
	.ready{
		text-decoration: line-through;
	}
	
}

.timeline{
	width:100%;
	border-left: 1px solid #EEE;	
	font-size: 85%;
	
	table{
		margin:0px;
	}
	
	a{
		text-decoration: none;
		color: #404040;
	}
		
	.line-right{
		border-right: 1px solid #EEE;
	}
	
	td{	
		padding: 0px;
		text-align:center;
		border-top: 0px;
	}
	
	.untouched{
		color:#C3C3C3;
	}
	
}

a.label{
		text-decoration: none;
		color: #FFF;
}

.withot-background{
	width:512px;
	background-color: transparent;
	-webkit-box-shadow: inset -1px 2px 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: inset -1px 2px 1px rgba(0, 0, 0, 0.20);
	box-shadow: inset -1px 2px 1px rgba(0, 0, 0, 0.20);
	text-align: left;
}

.stuff{
	h5{
		font-size: 90%;
		line-height:23px;
	}	
	tr{
		cursor: pointer;
	
		opacity: 0.5;
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		filter:alpha(opacity=50);
		
		transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		-o-transition: .2s;
	}
	tr:hover{
		opacity: 1;
		-moz-opacity:1;
		-khtml-opacity: 1;	
		filter:alpha(opacity=100);
	}
}
.question{
	font-size: 130%;
}
.browsers{
	text-align: center;
	h5{
		margin-bottom:-5px;
	}
	img{
		margin-bottom:-7px;
	}
}

