<p>Hola <%= @resource.name %>!</p>

<p>Ya puede confirmar su cuenta a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar la cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
