<p>Hola <%= @resource.email %>!</p>

<p>Ha requerido un enlace para cambiar su contraseña</p>
<p>Para proseguir pinche el siguiente enlace:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no ha requerido cambiar su contraseña, haga caso omiso a este mensaje.</p>
<br>
<p>Equipo PASA</p>